*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#connect{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

#sep{
    height: 30dvh;
    width: 2px;
    background-color: black;
}

form{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
