body {
    background-color: burlywood;
}

.header {
    background-color: #252525;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
}

#main-title {
    text-decoration: none;
    color: aliceblue;
}
