body {
    background-color: burlywood;
    overflow-x: hidden;
}

.header {
    background-color: #252525;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

#main-title {
    text-decoration: none;
    color: aliceblue;
    font-size: 24px;
}

#logout-button {
    background: none;
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
}

#sidebar{
    background-color: #444444;
    position: absolute;
    right: 0;
    height: 100%;
    width: 200px;
    transition: width 1s;
}

#sidebar.closed{
    width: 0;
}

#sidebar h2{
    margin: auto;
    width: fit-content;
    
}

#sidebar #closeBtn{
    --size: 40px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    left: calc(var(--size) * -1);
}

#sidebar #users .side-user{
}
