body {
    background-color: burlywood;
}

.header {
    background-color: #252525;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

#main-title {
    text-decoration: none;
    color: aliceblue;
    font-size: 24px;
}

#user-box{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#user-box #username{
    color: aliceblue;
    text-decoration: none;
}

#logout-button {
    background: none;
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
}

#all-posts{
    margin: auto;
    width: fit-content;
}

.post{
    background-color: red;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 500px;
}

.post-pop-up{
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

